<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper  
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 <mapper namespace="com.myBatise.model.CMS_CODE">
   		<!-- 存储过程使用 -->
   		<select id="CB_CODE_GET"  statementType="CALLABLE" resultType="com.myBatise.model.CMS_CODE">
   			{call CB_CODE_GET(#{CODE_TYPE,jdbcType=VARCHAR,mode=IN},#{CODE_ID,jdbcType=VARCHAR,mode=IN})}
   		</select>
   		<!-- 存储过程返回多个集合 -->
   		<!--
		<resultMap type="com.myBatise.model.PAGE" id="page">
			<result column="IDX_CURR" property="IDX_CURR" jdbcType="INTEGER" javaType="Integer"/>
			<result column="IDX_START" property="IDX_START" jdbcType="INTEGER" javaType="Integer"/>
			<result column="IDX_END" property="IDX_END" jdbcType="INTEGER" javaType="Integer"/>
			<result column="IDX_PRE" property="IDX_PRE" jdbcType="INTEGER" javaType="Integer"/>
			<result column="IDX_NEXT" property="IDX_NEXT" jdbcType="INTEGER" javaType="Integer"/>
			<result column="TOT_PAGE" property="TOT_PAGE" jdbcType="INTEGER" javaType="Integer"/>
			<result column="TOT_COUNT" property="TOT_COUNT" jdbcType="INTEGER" javaType="Integer"/>
			<result column="UNIT" property="UNIT" jdbcType="INTEGER" javaType="Integer"/>
		</resultMap>
		 <resultMap type="com.myBatise.model.CMS_CODE" id="codeData">
			<result column="ID" property="ID" jdbcType="INTEGER" javaType="Integer"/>
			<result column="CODE_ID" property="CODE_ID" jdbcType="VARCHAR" javaType="String"/>
			<result column="CODE_NAME" property="CODE_NAME" jdbcType="VARCHAR" javaType="String"/>
			<result column="CODE_TYPE" property="CODE_TYPE" jdbcType="VARCHAR" javaType="String"/>
			<result column="CODE_VALUE1" property="CODE_VALUE1" jdbcType="VARCHAR" javaType="String"/>
			<result column="CODE_VALUE2" property="CODE_VALUE2" jdbcType="VARCHAR" javaType="String"/>
			<result column="CODE_VALUE3" property="CODE_VALUE3" jdbcType="VARCHAR" javaType="String"/>
		</resultMap> 
   		<select id="CB_CODE_LIST" parameterType="java.util.Map"  statementType="CALLABLE" resultType="codeData，page">
   			{call "CB_CODE_LIST"(#{PAGE,jdbcType=INTEGER,mode=IN},#{UNIT,jdbcType=INTEGER,mode=IN},#{NAV_MAX,jdbcType=INTEGER,mode=IN},#{CODE_TYPE,jdbcType=VARCHAR,mode=IN})}
   		</select>-->
 </mapper>
